packages:
    yum:
        postgresql93-devel: []

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python /opt/python/current/app/manage.py migrate --noinput"
        leader_only: true
    02_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python /opt/python/current/app/manage.py collectstatic --noinput --settings rdsExample.settings"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: rdsExample/wsgi.py
