packages:
    yum:
        postgresql93-devel: []

container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python /opt/python/current/app/manage.py migrate --settings=rdsExample.settings --noinput"
        leader_only: true

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: rdsExample/wsgi.py
